* {
  outline: none;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  @media only screen and (max-width: 576px) {
    font-size: 10px;
    padding-top: 51px;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

.container {
  max-width: 768px;
  padding: 0 10px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-weight: 100;
  font-size: 4.1em;
  letter-spacing: 2px;
}

h2 {
  font-size: 30px;
  font-weight: 300;
  margin-top: 17px;
}

.header {
  padding: 30px 0;
  border-bottom: 1px solid #d9d9d9;
  background-color: #fff;

  @media only screen and (max-width: 576px) {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 20px 0;
  }
}

.header__btn {
  display: none;
  background-color: transparent;
  border: none;
  background-image: url("../img/arrow.svg");
  background-size: cover;
  width: 20px;
  height: 12px;
  margin-right: 12px;
  transition: 0.3s;

  @media only screen and (max-width: 576px) {
    display: block;
    float: right;
  }
}

.header__btn--open {
  transform: rotate(180deg);
  transition: 0.3s;
}

.nav {
  display: flex;
  justify-content: space-around;
  margin: 0;
  list-style: none;
  color: #50649a;
  text-decoration: none;
  font-size: 14px;
  padding: 0 12%;

  @media only screen and (max-width: 576px) {
    display: none;
    position: absolute;
    top: 51px;
    left: 0;
    flex-wrap: wrap;
    background-color: #fff;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #d9d9d9;
  }
}

.nav li {
  @media only screen and (max-width: 576px) {
    flex: 0 0 100%;
    padding: 6px 0;
  }
}

.nav .active {
  color: #2b2b2b;
}

.title {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 60%,
      rgb(255, 255, 255)
    ),
    url("../img/ian-froome-375650.jpg");
  background-size: cover;
  padding-top: 60px;
}
