#personal-info {
    padding-top: 8px;
}

.personal-info {
  max-width: 520px;
  margin: 0 auto;
  display: block;
  padding-top: 1.2rem;

  @media only screen and (max-width: 576px) {
    padding: 0 10px;
  }
}

.personal-info input {
  display: block;
  width: 96%;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 18px 9px;
  text-align: center;
  font-size: 1.2rem;
}

.personal-info input:focus {
  border-color: #435993;
}

.animate-input > div {
  position: relative;
  margin-bottom: 1.5rem;
}

.animate-input > div > label {
  position: absolute;
  color: #c8c8c8;
  font-size: 1.5rem;

  @media only screen and (max-width: 576px) {
    font-size: 1.2rem;
  }
}

.animate-input label {
  position: absolute;
  top: 14px;
  left: 0;
  width: 100%;
  transition: 0.2s;
}

.animate-input input:focus ~ label,
.animate-input input:valid ~ label,
.animate-input textarea:focus ~ label,
.animate-input textarea:valid ~ label {
  top: 3px;
  font-size: 14px;
}

.select {
  position: relative;
  max-width: 320px;
  margin: 0 auto;
  font-size: 20px;
  color: #c8c8c8;
  text-align: center;
  font-size: 1.5rem;

  @media only screen and (max-width: 576px) {
    font-size: 1.2rem;
  }
}

.select__title {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 13px 10px;
  z-index: 5;
  cursor: pointer;
}

.select__title.check::before {
  content: "Год рождения";
  position: absolute;
  top: 3px;
  font-size: 14px;
  color: #c8c8c8;
  height: 20px;
  text-align: center;
  width: 100%;
  left: 0;
}

.select__title::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 8px;
  right: 15px;
  top: 30px;
  background-image: url("../img/arrow.svg");
  transition: 0.3s;
}

.select__title--open::after {
  transform: rotate(180deg);
  transition: 0.3s;
}

.select__list {
  display: none;
  max-height: 300px;
  list-style: none;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin-top: -1px;
  position: absolute;
  z-index: 2;
  background-color: #fff;
  width: 100%;
  padding-left: 0;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  color: #435993;
  font-weight: 300;
}

.select__list li {
  padding: 5px 0;
  cursor: pointer;
}

.select__list li.active {
  background-color: #e9efff;
}

.simplebar-scrollbar::before {
  background: #d9d9d9;
}
