.JavaScript-level {
    margin-top: 7.5rem;
}

.range-slider {
  padding-top: 5px;

  @media only screen and (max-width: 576px) {
  padding: 5px 10px 0 10px;
  }
}

.range-slider__band {
  position: relative;
  margin-bottom: 10px;
}

.range-slider__band svg {
  width: 100%;
}

.range-slider__band-color {
  position: absolute;
  top: 2px;
  left: 0;
  z-index: -1;
  width: 0;
}

.range-slider .ui-slider {
  border: none;
}

.range-slider .ui-slider-handle {
  border: none;
  background-color: transparent;
  background-image: url("../img/Rounded.svg");
  width: 23px;
  height: 26px;
  cursor: pointer;
  top: 0px;
}

.range-slider__option {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.range-slider__option p {
  text-align: left;
  font-size: 13px;
  flex: 0 0 24%;
  position: relative;
  cursor: pointer;
}

.range-slider__option p.active {
  color: #435993;
}

.range-slider__option p:last-child {
  text-align: right;
}

.range-slider__option p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 1px;
  height: 15px;
  border-left: 2px dotted #e8e8e8;
}

.range-slider__option p:last-child::after {
  right: 0;
  left: auto;
}

.range-slider__option p::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -30px;
  width: 1px;
  height: 13px;
  border-left: 2px solid #fff;
}

.range-slider__option p:last-child::before,
.range-slider__option p:first-child::before {
  display: none;
}
